html,body{
    height:100%;
    min-height:100%; 
    margin:0px;
    padding:0px;
    background: url("./stars.gif"),url("./repeatingbackground.jpg") center;
    background-repeat: repeat;
}

.container{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:50px;
    align-items: center;
}
.enter{
    height:auto;
    width: 400px;
}
.enter img{
    height:auto;
    width: 100%;
    border:none;
    margin-top: 20px;
}
.enter img:hover{
    cursor:pointer;
}

.title-space h1{
    font-size: 60px;
    font-family: "Nerko One";
    background: -webkit-linear-gradient(90deg, rgba(58,147,180,1) 9%, rgba(167,253,29,1) 45%, rgba(252,69,168,1) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: black 1px;

}
.yokai-king{
    font-size:35px;
    text-align: center;
    font-family: "VT323",sans-serif;
}
.yokai-king a{
    text-decoration: none;
    color: red;
    font-size: 60px;
}
.yokai-king a:hover{
    color:blue;
    cursor: pointer;
}
.reigen-arataka{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
}
.name{
    display: flex;
    gap:5px;
}
.name div{
    font-size:70px;
    padding:10px;
    font-weight: bold;
}
.first-syllable{
    background-color: aqua;
    color:rgb(88, 146, 0);
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.second-syllable{
    background-color: yellow;
    color:rgb(10, 79, 206);
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.third-syllable{
    background-color: rgb(243, 53, 116);
    color:purple;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.fourth-syllable{
    background-color: rgb(7, 167, 7);
    color:Red;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.welcome,.homepage{
    font-size:30px;
    font-family: VT323;
}
